.user-role.btn-group
  = link_to 'Курсант', '#', class:'btn first_item active',role: "Курсант", remote:true
  = link_to 'В/С контрактной службы', '#', class:'btn second_item', role: "Контракт", remote:true
  = link_to 'Офицер', '#', class:'btn third_item', role: "Офицер", remote:true