.user-role.btn-group
  = link_to 'Курсант', '#', class:'btn first_item active', remote:true
  = link_to 'В/С контрактной службы', '#', class:'btn second_item', remote:true
  = link_to 'Офицер', '#', class:'btn third_item', remote:true