.authorization
{
  float:right;
  margin-top:13px;
  width:380px;
  position: relative;
  .auth_error_field
  {
    background-image: url("auth_error_field.png");
    background-size: 100% 100%;
    width: 140px;
    padding: 11px;
    left: -165px;
    top: -22px;
    position: absolute;
    float: left;
    z-index: 10000;
    p{
      color: #ffffff;
    }
  }
  input
  {
    height:32px;
  }
  input.auth_pass
  {
    margin-left:10px;
  }
  input.auth_login,
  input.auth_pass
  {
    width:108px;
    height:20px !important;
    border: 1px solid #cccccc;
    margin-bottom: 0px;
  }
  input[type="submit"]
  {
    background-image: url("feedback_button.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width:71px;
    color:#ffffff;
    border:none;
    border-radius: 4px;
    margin-left:10px;
  }

  .error_input
  {
    border: 2px solid #FF0000 !important;
  }

}