.contact_messages
{
  .form_field
  {
    display:inline-block;

    input
    {
      width: 190px;
    }
  }

  .main_information
  {
    float:left;
    width:438px;
    div
    {
      margin-bottom: 61px;
      h3
      {
        font-size:20px;
      }
      strong
      {
        font-weight: bold;
        margin-right:10px;
      }
      p
      {
        margin-top:25px;
      }
    }
  }
  .main_contacts
  {

  }

  .contact_messages_form
  {
    float:left;
    .form_field
    {
      label
      {
        margin-bottom:9px;
      }
    }
    .form_field.second
    {
      margin: 0px 28px 0px 28px;
    }
    .form_field.textarea
    {
      margin-top:21px;
      textarea
      {
        width:660px;
        height: 130px;
      }
    }

    .contact_message_submit
    {
      background-image: url('feedback_button.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      color: #ffffff;
      border:none;
      border-radius:4px;
      width:111px;
      height:32px;
      float:right;
    }
  }
}