.user_cabinet
{

  .personal_data_cell
  {
    margin-bottom:15px;
    label
    {
      font-size: 15px;
    }
    input[type="text"],
    textarea
    {
      font-size: 15px;
    }
    textarea
    {
      resize: none;
    }
    .radio_field
    {
      margin-top:10px;
      margin-right: 25px;
      label
      {}
      input
      {
        margin-left:10px;
        margin-top:0px;
      }
    }
    .popup-main
    {
      background-color: #e6e6e6;
      height:100px;
      width:220px;
      position:relative;
      top:-10px;
      border: 1px solid #c8c8c8;
      border-radius: 0px 0px 4px 4px;
      ul
      {
        li
        {
          padding:3px;
          &.current
          {
            background-color: #224f0e;
            color: #ffffff;
            cursor: pointer;
          }
        }
      }
    }
  }
  #cabinet_tabs
  {
    ul
    {
      li
      {
        font-size:13px;
      }
    }
    #personal_data,
    #pasport,
    #voen_pasport,
    #contact_information,
    #special_question
    {

      .left_column
      {
        display: inline-block;
//        float: left;
      }
      .right_column
      {
        display: inline-block;
        float: right;
      }
    }
    #contact_information
    {
      height:380px;
    }
    #special_question
    {
      .radio_field
      {
        display: inline-block;
        label
        {
          float: left;
        }
      }
    }
    #voen_pasport
    {
      height:500px;
    }
  }
  .edit_user_profile
  {
    float: right;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
    background-image: url('feedback_button.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #ffffff;
    &:hover
    {
      background-image: url('green_button_hover.png');
      background-position: center center;
    }
  }
}
.loan_information
{
  width:490px;
//  height:556px;
  float: left;
  background-image: url("loan_bg_sliders.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .loan_info_item
  {
//    padding: 35px 102px 24px 40px;
    .info_cell {
      padding: 35px 52px 24px 40px;
      span, p {
        color: #444444;
        font-size: 24px;
        display: block;

        &.info_item_title {
          float: left;
          &.small
          {
            font-size:12px;
            width:210px;
          }
        }
        &.info_item_value {
          float: right;
        }
      }
      .specific_payment_info
      {
        height:60px;
        .loan_info_item
        {
          margin-top:18px;
          .info_cell
          {
//            padding-left: 0px;
//            padding-top: 18px;
            padding: 18px 22px 24px 0px;
          }
        }
      }
    }
    .divide_line
    {
      background-image: url("slider_divider.png");
      height: 1px;
      width: 441px;
      margin-top:14px;
    }
  }
  .payment_slider
  {
    float:left;
    margin-top: 21px;
    margin-left:37px;
    margin-bottom: 20px;
    .payment_slider_title
    {
      height:50px;
      .graph_title
      {
        font-size: 24px;
        color: #444444;
        display:block;
        float:left;
        margin-top:11px;
      }
      #current_day
      {
        height:31px;
        width:150px;
        float: right;
        font-size: 24px;
        color: #444444;
      }
    }
    .current_user_slider_wrapper
    {
      background-image: url("current_user_slider_wrapper.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding:10px;
      .current_user_slider
      {
        width:410px;
        &.ui-slider
        {
          background-image: url("current_slider_unfilled.png");
          background-size: 111% 100%;
        }
        .ui-slider-range
        {
          background-image: url("loan_slider_filled_part.png");
          border-radius: 14px;
        }
        .ui-slider-handle
        {
          background-image: url("current_user_slider_thumb.png");
          background-repeat: no-repeat;
          background-position: -2px -2px;
          border-radius: 14px;
          top: -8px;
          height:29px;
          width:30px;
        }
      }
    }
  }
}
