.feedback_page {

  .feedback_title
  {
     margin-bottom:13px;
    height:20px;
  }
  .feedback_author
  {
    font-size:14px;
    font-weight: bold;
    display:block;
    float:left;
  }
  .feedback_date
  {
    font-size:14px;
    display:block;
    float:right;
  }
  .feedback_text
  {
    background-image: url("feedback_message_wrapper.png");
    background-size: 100% 100%;
    height:90px;
    padding:10px;
  }

  .write_your_feedback
  {
    background-image: url("write_your_feedback.png");
    height:108px;
    margin-top:52px;
    margin-bottom:32px;
  }

  .feedback_divide_line
  {
    background-image: url("feedback_message_divide_line.png");
    height:2px;
    margin-top:30px;
    margin-bottom:32px;
  }

  .feedback_like,
  .feedback_dislike
  {
    height:30px;
    width:25px;
    background-image: url("like-dislike-icons.png");
    display:block;
    float:left;
  }
  .feedback_mark
  {
    height:50px;
  }
  .feedback_like
  {
    background-position: center left;
  }
  .feedback_dislike
  {
    background-position: center right;
  }

  .control-group input,
  .control-group textarea
  {
    width:320px;
  }
  .control-group input
  {
    height:32px;
  }
  .control-group textarea
  {
    height:131px;
  }
  .control-group .feedback_button
  {
    height:31px;
    width:142px;
    color:#ffffff;
    background-image: url("feedback_button.png");
    background-repeat: no-repeat;
    border:none;
    border-radius: 2px;
  }

}
