a
{
  cursor:pointer;
}
html, body
{
  background-image:url("vb_pattrn_0061.jpg");
}
.wrapper
{
  margin: 0 auto;
  width:960px;

}
header, footer
{
    display:block;
    width:100%;
}

.header
{
  height:60px;
  margin-top: 13px;
}
.header .logotype_vb
{
  margin-top:30px;
}
.header .authorization
{
  float:right;
  margin-top:13px;
}
.header .authorization input
{
  height:32px;
}
.header .authorization input.auth_login,
.header .authorization input.auth_pass
{
  width:108px;
}
.header .authorization input[type="submit"]
{
  width:71px;
}
.news_slider
{
  height:300px;
  width:900px;
  overflow: hidden;
}
.header .logotype_vb
{
  float:left;
}
.header .callback_phone
{
  float:left;
  margin-top:15px;
  font-size: 17px;
  margin-left:120px;
  color:#555555;
}
#navigation_panel
{
  float:left;
}
.nav_pan_guest
{
  width:200px;
  height:300px;
  float:left;
  margin-top:10px;
  p{font-size:11px;}
  div{padding:0px;}
}
.main_part
{
  background-color: #ffffff;
  padding:10px;
  min-height:700px;
  padding-top: 31px;
}
.content_part
{
  display: inline-block;
  width:680px;
}
.divide_line
{
  height:618px;
  width:1px;
  background-color: #000000;
  float:left;
  margin-left:25px;
  margin-right:25px;
}

.static_page_title
{
  background-image: url("static_page_title_wrapper.png");
  background-size: 100% 100%;
  margin-bottom:30px;
}

.static_page_title h2
{
  font-size: 24px;
}
.role-chose-button
{
  padding: 5px 35px 5px 35px;
}