.loan_page {
  width:490px;
  float:left;
  .user-role {
    width: 491px;
    margin-bottom: 21px;
    a {
      //      padding-top: 8px;
      font-size: 14px;
      height: 25px;
    }
    .first_item {
      width: 120px;
    }
    .second_item {
      width: 173px;
    }
    .third_item {
      width: 120px;
    }
    .active
    {
      background: #7db9e8; /* Old browsers */
      background: -moz-linear-gradient(top, #7db9e8 1%, #3c731e 1%, #224f0e 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#7db9e8), color-stop(1%,#3c731e), color-stop(100%,#224f0e)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #7db9e8 1%,#3c731e 1%,#224f0e 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #7db9e8 1%,#3c731e 1%,#224f0e 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #7db9e8 1%,#3c731e 1%,#224f0e 100%); /* IE10+ */
      background: linear-gradient(to bottom, #7db9e8 1%,#3c731e 1%,#224f0e 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#224f0e',GradientType=0 ); /* IE6-9 */
      color: #ffffff;
    }

  }
  .main_content {
    height: 565px;
    width: 491px;
    background-image: url('loan_bg_sliders.png');
    background-repeat: no-repeat;
    &.hidden_calculator
    {
      background-image: url("loan_background_current.png") !important;
      background-size: 100% 100%;
      opacity: 0.5;
    }

    .loan_confirm
    {
      display:block;
      color:#ffffff;
      font-size:23px;
      height:61px;
      width:410px;
      background-image: url('feedback_button.png');
      background-size: 100% 100%;
      border-radius:9px;
      border:none;
      margin-left:40px;
    }
    .loan_confirm:hover
    {
      background-image: url('green_button_hover.png');
      background-size: 100% 100%;
    }
    .loan_confirm:active
    {
     background-image: url('green_button_click.png');
    }
  }

  .slider_amount,
  .slider_time,
  .slider_everymonth_pay {
    margin-top: 31px;
    width: 431px;
    margin-left: 31px;
  }

  .amount,
  .time,
  .pay {
    height: 40px;
    margin-bottom: 22px;
  }

  .amount_value,
  .time_value,
  .pay_value {
    height: 30px;
    width: 149px;
    float: right;
    font-size: 24px;
  }

  #slider_amount,
  #slider_time,
  #slider_everymonth_pay {
    width: 407px;
    height: 9px;
    margin-left: 11px;
    background-color: #c8c8c8;
    background-image: none;

    .ui-slider-range.ui-widget-header {
      background-color: #464646;
      background-image: none;
    }
    span.ui-slider-handle {
      background-image: url('slider_toggle_button.png');
      border-radius: 13px;
      top: -6px;
      height:20px;
      width: 20px;
      cursor:pointer;
    }
  }
    .slider_amount {

      .amount {
        span {
          font-size: 24px;
          margin-left: 16px;
          margin-top: 5px;
          display: block;
          float: left;
        }

      }
      #slider_amount {

      }

    }

    .slider_time {
      .time {
        span {
          font-size: 24px;
          margin-left: 16px;
          margin-top: 5px;
          display: block;
          float: left;
        }

      }
      #slider_time {

      }

    }

    .slider_everymonth_pay {
      .pay {
        span {
          font-size: 24px;
          margin-left: 16px;
          margin-top: 5px;
          display: block;
          float: left;
        }

      }
      #slider_everymonth_pay {

      }

    }

    .slider_wrapper {
      margin-bottom:17px;
      span {
        display: block;
        height: 11px;
        width: 6px;
        background-repeat: no-repeat;
      }
      .left_slider_arrow {
        background-image: url('slider_left_arrow.png');
        float: left;
      }
      .right_slider_arrow {
        background-image: url('slider_right_arrow.png');
        float: right;
      }
    }

    .slider_divider {
      background-image: url('slider_divider.png');
      height: 2px;
      width: 441px;
    }


  .amount_range
  {
    margin-bottom:31px;
    div
    {
      display:inline-block;
      font-size:10px;
      margin-right:59px;
    }
    .range_5
    {
      margin-right:0px;
    }

  }
  .time_range
  {
    margin-bottom:31px;
    div
    {
      display:inline-block;
      font-size:10px;
      margin-right:131px;
    }
    .range_4
    {
      margin-right:0px;
    }
  }

  .current_user_calc,
  .current_loan_info,
  .current_user_history
  {
    float:left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
  }


  .current_user_calc {
    margin-top: 0px;
    .calculator_title {
      &.active {
        display: block;
        background-color: #f5f5f5;
        border: 1px solid #c8c8c8;
        border-radius:6px;
        height:20px;
        cursor: pointer;
        p
        {
          float:left;
        }
        span.arrow
        {
          display:block;
          height:20px;
          width:30px;
          float:right;
          background-position: center center;
          background-repeat: no-repeat;
          &.up
          {
            background-image: url('callback_arrow_up.png');
          }
          &.down
          {
            background-image: url('callback_arrow_down.png');
          }
        }
      }
      &.hidden {
        display: none;
      }

    }
    .hidden_calculator
    {
      &.active
      {
        display: block;
      }
      &.hidden
      {
        display: none;
      }
    }
  }

  .current_loan_info
  {
    &.close
    {
      .loan_info_body
      {
        display: none;
      }
    }
    .loan_info_title
    {
      &.active
      {
        display: block;
        background-color: #f5f5f5;
        border: 1px solid #c8c8c8;
        border-radius:6px;
        height:20px;
        cursor: pointer;
        p
        {
          float:left;
        }
        span.arrow
        {
          display:block;
          height:20px;
          width:30px;
          float:right;
          background-position: center center;
          background-repeat: no-repeat;
          &.up
          {
            background-image: url('callback_arrow_up.png');
          }
          &.down
          {
            background-image: url('callback_arrow_down.png');
          }
        }
      }
      &.hidden
      {
        display: none;
      }
    }
    .loan_info_body
    {
      &.active
      {
        display: block;
      }
      &.hidden
      {
        display: none;
      }
    }
  }
  .current_user_history
  {
    .history_body{
      float:left;
      width: 100%;
      &.hidden
      {
        display:none;
      }
    }
    .history_title
    {
        display: block;
        background-color: #f5f5f5;
        border: 1px solid #c8c8c8;
        border-radius:6px;
        height:20px;
        cursor: pointer;
        p
        {
          float:left;
        }
        span.arrow
        {
          display:block;
          height:20px;
          width:30px;
          float:right;
          background-position: center center;
          background-repeat: no-repeat;
          &.up
          {
            background-image: url('callback_arrow_up.png');
          }
          &.down
          {
            background-image: url('callback_arrow_down.png');
          }
        }
    }
    .user_history_item
    {
      float:left;
      width: 100%;
      margin-top:5px;
      margin-bottom: 5px;
      .history_item_title
      {
        display: block;
        background-color: #008BE2;
        border: 1px solid #c8c8c8;
        border-radius:6px 6px 0px 0px;
        height:20px;
        cursor: pointer;
        float:left;
        width:100%;
        color: #ffffff;
        &.full_border
        {
          border-radius: 6px;
        }

        p
        {
          float:left;
        }
        span.arrow
        {
          display:block;
          height:20px;
          width:30px;
          float:right;
          background-position: center center;
          background-repeat: no-repeat;
          &.up
          {
            background-image: url('callback_arrow_up.png');
          }
          &.down
          {
            background-image: url('callback_arrow_down.png');
          }
        }
      }
      .history_item_body
      {
        float:left;
//        width:100%;
        padding:5px;
        border: 1px solid #c8c8c8;
        border-radius: 0px 0px 6px 6px;
        &.hide
        {
          display:none;
        }
        &.show
        {
          display:block;
        }
      }
      .user_history_cell
      {
        float: left;
        width: 100%;
        .title
        {
          float:left;
        }
        .value
        {
          float: right;
        }
      }
    }
  }
  div.title
  {
    float:left;
    width:100%;
  }

}