.navigation_menu .item_description
{
  display:none;
}
.navigation_menu
{
  width:1500px;
}
.navigation_menu .menu_item
{
  width:150px;
}
.item_title
{
  height:30px;
  text-align: left;
  vertical-align: middle;
}