.slider {
  z-index: 9;
  width: 960px;
  height: 300px;
  overflow: hidden;
  margin: 0 0 7px;
  position: relative;
}
.slider ul,
.slider li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.slider ul {
  width: 9999px;
}
.slider ul li {
  list-style-type: none;
  float: left;
  width: 960px;
  height: 300px;
}
.slider .nav {
  position: absolute;
  top:20px;
  right:30px;
}
.slider .nav span {
  opacity: 0.9;
  background: #fff;
  margin: 0 8px 0 0;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  display: block;
  float: left;
  box-shadow: 0 1px 2px #000;
}
.slider .nav span.on {
  background: #2e9419;
}
.left_navigation_button,
.right_navigation_button
{
  height:62px;
  width:32px;
  position:absolute;
  top:120px;
}
.left_navigation_button
{
  background-image: url('left_slider_button.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left:0px;
}
.right_navigation_button
{
  background-image: url('righ_slider_button.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  right:0px;
}