/* 
	Resets defualt browser settings
	reset.css
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
:focus { outline:0; }
a:active { outline:none; }
ol,ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }

/*
	Page style
*/

body { 
    }

#container {
	width:100%;
	margin:40px auto;
	position:relative;
}

#slides {
	position:relative;
}

#slides .slidesContainer {
	background:#fff;
	border:8px solid #fff;
	margin-left:-8px;
	box-shadow: 0 2.5px 5px rgba(0,0,0,.1);
}

/*
	Next/prev buttons
*/

#slides .slidesNext,#slides .slidesPrevious {
	position:absolute;
	top:134px;
	left:-40px;
	width:24px;
	height:0;
	padding-top:32px;
	display:block;
	z-index:101;
	overflow:hidden;
	background:url(../img/navigation-previous.png) no-repeat 0 0;
}

#slides .slidesNext {
	left:798px;
	background:url(../img/navigation-next.png) no-repeat 0 0;
}

/*
	Pagination
*/

.slidesPagination {
	margin:10px 0 0;
	float:right;
}

.slidesPagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.slidesPagination li a {
	display:block;
	width:14px;
	height:0;
	padding-top:14px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	overflow:hidden;
}

.slidesPagination li.slidesCurrent a {
	background-position:0 -14px;
}

.current_slide {
	font:bold 10px/1.33 sans-serif;
	float:left;
	margin-top:12px;
}

.about_us_page
{
  .main_idea
  {
    font-size:24px;
    font-weight: bold;
    border-top: 3px dashed #000000;
    border-bottom: 3px dashed #000000;
    padding: 20px 30px 20px 50px;
  }
  p
  {
    margin-bottom: 23px;
  }
}


.footer
{
  font-size:13px;
  .left_part
  {
    width:249px;
    float:left;
  }
  .right_part
  {
    width:109px;
    float:right;
  }
}
.main_content
{
  float:left;
}

#map
{
  height:400px;
  width:800px;
}
.user_info
{
  float:right;
  margin-right:20px;
  p.user_full_name
  {
    font-weight: bold;
  }
  .user_actions
  {
    .user_cabinet
    {
      width:151px;
      font-size: 17px;
      padding: 5px;
      font-weight: lighter;
      background-image: url("feedback_button.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      color: #ffffff;
      margin-right: 18px;
      &:hover
      {
        background-position: center center;
        background-image: url("green_button_hover.png");
      }
    }
    .logout-button
    {
//      width: 86px;
      padding:6px;
    }
  }
}
.ui-dialog.user_cabinet
{
  position:fixed !important;
  top:17px !important;
  left: 235px !important;

}
.ui-dialog.system_message
{
  position:fixed !important;
  top:17px !important;
}

.percent-main
{
  tr
  {
    cursor: pointer;
  }
}