.user_short_info
{
  a
  {
    display:block;
    float:left;
  }
}
.admin_user_page
{
  height:450px;
  .user-show-page{
    float:left;
    .admin_user_head_info
    {
      .admin_user_info_cell
      {
        float: left;
      }

      .admin_user_cell {
        margin-right: 25px;
        display: inline-block;
        &.image {
          p {
            display: block;
          }
        }
        .empty_image {
          height: 150px;
        }
      }
    }
  }
  .user-page-actions
  {
    float:right;
    margin-top:40px;
    a
    {
      display: block;
      margin-bottom: 15px;
    }
  }
  .admin_user_body_info
  {
    .admin-user-main,
    .admin-user-pasport,
    .admin-user-contact
    {
      margin-bottom: 15px;
    }
    .admin-user-main
    {
      margin-top:10px;
    }
    .admin_user_cell
    {
      display: inline-block;
      margin-left:15px;
      margin-right: 15px;
    }
  }
}
.admin-user-deposits
{
  display: none;
}
.admin_user_navigation
{
  margin-bottom: 20px;
 a
 {
   width:35%;
   display:inline-block;
   color:#000000;
   border:1px solid #c8c8c8;
   text-decoration: none;
   padding: 5px 50px 5px 50px;
   border-radius: 4px 4px 0px 0px;
   text-align: center;

   &.active
   {
     background-image: url('feedback_button.png');
     background-size: 100% 100%;
     background-color: #224f0e;
     color: #ffffff;
   }
 }
}
.admin-user-loans,
.admin-user-deposits
{
  .loan-title
  {
    background-color: #f5f5f5;
    border: 1px solid #c8c8c8;
    border-radius:6px;
    height:20px;
    cursor: pointer;
    p
    {
      float:left;
    }
    span.arrow
    {
      display:block;
      height:20px;
      width:30px;
      float:right;
      background-position: center center;
      background-repeat: no-repeat;
      &.up
      {
        background-image: url('callback_arrow_up.png');
      }
      &.down
      {
        background-image: url('callback_arrow_down.png');
      }
    }

  }
  .loan-item-body
  {
    display: none;
    &.active
    {
      display: block;
    }
    .cell-loan-sum,
    .cell-loan-time,
    .cell-loan-status
    {
      margin-bottom: 15px;
    }

    .admin-loan-cell
    {
      display: inline-block;
      margin-right: 10px;

    }
    .cell-loan-controll
    {
      .repayment_form
      {
        padding: 10px;
        display:none;
        .repayment_input
        {
          margin-top: 10px;
        }
        .btn
        {
          margin-left: 10px;
        }
      }
    }
  }
}